



.nav{
    background-color: transparent;
    overflow: hidden;
    
}

.nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px !important;
    
}



.nav a:hover{
    color: black;
}

.nav a.active{
    color: #dc2f02;
}

#map{
    box-shadow: 0px 1px 5px black;
}

.eyes {
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .eye {
    width: 240px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .ball {
    width: 80px;
    height: 80px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }